/*
 * Copyright (c) 2023 SuperMini nRF52840
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/led/led.h>

/ {
    model = "SuperMini nRF52840";
    compatible = "supermini,nrf52840";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,console = &cdc_acm_uart;
        zmk,battery = &vbatt;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Blue LED";
        };
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        label = "BATTERY";
        io-channels = <&adc 2>;
        output-ohms = <2000000>;
        full-ohms = <(2000000 + 806000)>;
    };

    pro_micro: connector {
        compatible = "arduino-pro-micro";
        #gpio-cells = <2>;
        gpio-map-mask = <0xffffffff 0xffffffc0>;
        gpio-map-pass-thru = <0 0x3f>;
        gpio-map
            = <0 0 &gpio0 8 0>   /* D0 */
            , <1 0 &gpio0 6 0>   /* D1 */
            , <2 0 &gpio0 17 0>  /* D2 */
            , <3 0 &gpio0 20 0>  /* D3 */
            , <4 0 &gpio0 22 0>  /* D4/A6 */
            , <5 0 &gpio0 24 0>  /* D5 */
            , <6 0 &gpio1 0 0>   /* D6/A7 */
            , <7 0 &gpio0 11 0>  /* D7 */
            , <8 0 &gpio1 4 0>   /* D8/A8 */
            , <9 0 &gpio1 6 0>   /* D9/A9 */
            , <10 0 &gpio1 11 0> /* D10/A10 */
            , <14 0 &gpio1 13 0> /* D14/A0 */
            , <15 0 &gpio1 15 0> /* D15/A1 */
            , <16 0 &gpio0 2 0>  /* D16/A2 */
            , <18 0 &gpio0 29 0> /* D18/A3 */
            , <19 0 &gpio0 31 0> /* D19/A4 */
            , <20 0 &gpio0 30 0> /* D20/A5 */
            , <21 0 &gpio0 28 0> /* D21/A6 */
            ;
    };

    supermini: supermini_pins {
        compatible = "supermini,nrf52840";
        #gpio-cells = <2>;
        gpio-map-mask = <0xffffffff 0xffffffc0>;
        gpio-map-pass-thru = <0 0x3f>;
        gpio-map
            = <6 0 &gpio0 8 0>   /* P6 */
            , <7 0 &gpio0 6 0>   /* P7 */
            , <8 0 &gpio0 17 0>  /* P8 */
            , <9 0 &gpio0 20 0>  /* P9 */
            , <10 0 &gpio0 22 0> /* P10 */
            , <14 0 &gpio1 13 0> /* P14 */
            , <15 0 &gpio1 15 0> /* P15 */
            , <16 0 &gpio0 2 0>  /* P16 */
            , <18 0 &gpio0 29 0> /* P18 */
            , <19 0 &gpio0 31 0> /* P19 */
            , <101 0 &gpio0 30 0> /* P101 */
            , <102 0 &gpio0 28 0> /* P102 */
            ;
    };
};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&uart0 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-1 = <&uart0_sleep>;
    pinctrl-names = "default", "sleep";
};

&i2c0 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi1 {
    compatible = "nordic,nrf-spi";
    /* Cannot be used together with i2c0. */
    /* status = "okay"; */
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        sd_partition: partition@0 {
            label = "softdevice";
            reg = <0x00000000 0x00026000>;
        };
        code_partition: partition@26000 {
            label = "code_partition";
            reg = <0x00026000 0x000c6000>;
        };

        storage_partition: partition@ec000 {
            label = "storage";
            reg = <0x000ec000 0x00008000>;
        };

        boot_partition: partition@f4000 {
            label = "adafruit_boot";
            reg = <0x000f4000 0x0000c000>;
        };
    };
};

&usbd {
    status = "okay";
    cdc_acm_uart: cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};